$bgcolor : #035D44;
$primary-error: red;
$primary-text-color: #ffffff;
$black: #000000;
$lightGrey: #CECECE;
$lightGrey2: #F8F6F7;
$lightGrey3: #ABA9AA;

$primary-button-color: #098966;
$secondary-button-color: #F3A421;
$game-body-color: #F6F6F6;

$green: #045940;
$darkGreen: #002E1D;
$lightGreen: #027D5E;
$lightGreen2: #F9FFFD;
$lightGreen3: #0C8866;
$lightGreen4: #9CCFC0;