@import "~bootstrap/scss/bootstrap";
@import '_colors';
@import '_settings';
@import '_mixins';
@import '_login';
@import '_creategame';
@import '_room';

body {
  background: $bgcolor;
}

#root{
  .app{

    @include center-children;

    .error {
      color:$primary-error;
    }
  }

  .hide{
    display:none
  }


  .start-game{
    color:$primary-text-color;
    background: #000;
    font-weight: bold;
    border: 0px;
    margin-top: 50px;
    outline: none;
    cursor: pointer;
  }
}